.maincontainer{
    display: flex;
    /* flex-direction: column; */
    padding: 1rem;

}
.wrapper{
    display: flex;
    flex-direction: column;
    color: rgb(75, 70, 70);
}
.icons{
    display: flex;
    gap: 1rem;
    padding-left: -1rem;
}
.filenames{
    display: flex;
    gap: 1rem;
    margin-top: -1.3rem;
}